*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li, a , span{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: white;
}

header{
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    background-color: black;
}

span{
    cursor: pointer;
    padding-left: 20px;
}

nav{
    list-style: none;
}

nav li{
    display: inline-block;
    padding: 0px 20px;
}

nav li a{
    transition: all 0.3s ease 0s;
}

nav li a:hover{
    color: yellow;
}